tool-use-with-stepfunctions/statemachine/tool_use.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Bedrock InvokeModel",
  "States": {
    "Bedrock InvokeModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:invokeModel",
      "Parameters": {
        "ModelId": "${BedrockModelId}",
        "Body": {
          "anthropic_version": "bedrock-2023-05-31",
          "max_tokens": 1024,
          "tools": [
            {
              "name": "check_inventory",
              "description": "Check the inventory for parts matching the provided specification is present in store",
              "input_schema": {
                "type": "object",
                "properties": {
                  "carModel": {
                    "type": "string",
                    "description": "The model of the car, e.g. Audi A7, Honda Accord"
                  }
                },
                "required": ["carModel"]
              }
            },
            {
              "name": "schedule_appointment",
              "description": "Schedule an appointment with the tire shop if and only if inventory is available.",
              "input_schema": {
                "type": "object",
                "properties": {
                  "appointmentType": {
                    "type": "string",
                    "description": "The type of appointment, e.g. tire change, engine oil change, rotation, wheel alignment"
                  },
                  "carModel": {
                    "type": "string",
                    "description": "The model of the car, e.g. Audi A7, Honda Accord, Tesla Model Y"
                  }
                },
                "required": ["appointmentType", "carModel"]
              }
            }
          ],
          "messages.$": "$.messages"
        }
      },
      "ResultSelector": {
        "contents.$": "$.Body.content",
        "stopReason.$": "$.Body.stop_reason" 
      },
      "ResultPath": "$.llmResponse",
      "Next": "Is Tool Use?"
    },
    "Is Tool Use?": {
      "Type": "Choice",
      "Default": "Success",
      "Choices": [
        {
          "Variable": "$.llmResponse.stopReason",
          "StringEquals": "tool_use",
          "Next": "CollectToolNames"
        }
      ]
    },
    "CollectToolNames": {
      "Type": "Pass",
      "Next": "CheckToolNames?",
      "InputPath": "$.llmResponse",
      "Parameters": {
        "names.$": "$.contents[*].name",
        "toolIds.$": "$.contents[*].id"
      },
      "ResultPath": "$.tools"
    },
    "CheckToolNames?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.tools.names[0]",
          "StringMatches": "check_inventory",
          "Next": "CheckInventoryToolFunction"
        },
        {
          "Variable": "$.tools.names[0]",
          "StringMatches": "schedule_appointment",
          "Next": "ScheduleAppointmentToolFunction"
        }
      ],
      "Default": "ToolNotSupported"
    },
    "ScheduleAppointmentToolFunction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$.llmResponse.contents[?(@.type==tool_use && @.name==schedule_appointment)]",
      "Parameters": {
        "FunctionName": "${ScheduleAppointmentFunctionArn}",
        "Payload": {
          "input.$": "$[0].input"
        }
      },
      "ResultSelector": {
        "message.$": "States.JsonToString($.Payload)"
      },
      "ResultPath": "$.result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "PrepareMessages"
    },
    "CheckInventoryToolFunction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "InputPath": "$.llmResponse.contents[?(@.type==tool_use && @.name==check_inventory)]",
      "Parameters": {
        "FunctionName": "${CheckInventoryFunctionArn}",
        "Payload": {
          "input.$": "$[0].input"
        }
      },
      "ResultSelector": {
        "message.$": "States.JsonToString($.Payload)"
      },
      "ResultPath": "$.result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "PrepareMessages"
    },
    "PrepareMessages": {
      "Type": "Pass",
      "Next": "ReconcileMessages",
      "Parameters": {
        "userInput.$": "$$.Execution.Input.messages[0]",
        "assistantMessage": {"role": "assistant", "content.$": "$.llmResponse.contents"},
        "toolResponse": {
          "role": "user", 
          "content": [{
            "type": "tool_result",
            "tool_use_id.$": "$.tools.toolIds[0]",
            "content": [{
              "type": "text", 
              "text.$": "$.result.message"
            }]
          }]
        }
      }
    },
    "ReconcileMessages": {
      "Type": "Pass",
      "Next": "Bedrock InvokeModel",
      "Parameters": {
        "messages.$": "States.Array($.userInput, $.assistantMessage, $.toolResponse)"
      }
    },    
    "Success": {
      "Type": "Succeed"
    },
    "ToolNotSupported": {
      "Type": "Pass",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
